---
import { education } from "@data";

import Section from "@/components/Section.astro";
---

<Section title="Educación">
    <div>
        {
            education.map(
                ({ institution, url, area, studyType, startDate, endDate }) => {
                    const startYear = new Date(startDate).getUTCFullYear();
                    const endYear = endDate
                        ? new Date(endDate).getUTCFullYear()
                        : "Actual";
                    const years = `${startYear} - ${endYear}`;
                    const description = `${studyType}, ${area}`;
                    return (
                        <article>
                            <header>
                                <h3>
                                    <a
                                        href={url}
                                        title={`Ver ${institution}`}
                                        target="_blank"
                                    >
                                        {institution}
                                    </a>
                                </h3>
                                <time>{years}</time>
                            </header>
                            <footer>
                                <p>{description}</p>
                            </footer>
                        </article>
                    );
                },
            )
        }
    </div>
</Section>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    article h3 {
        color: #111;
        font-weight: 600;
        font-size: 1rem;
    }

    article a {
        color: #111;
    }

    article a:hover {
        text-decoration: underline;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time {
        color: #444;
        font-size: 0.85rem;
        min-width: 102px;
        cursor: default;
        text-align: right;
    }
</style>
